APP_CONFIG__db__url=sqlite+aiosqlite:///./test.sqlite
APP_CONFIG__db__echo=True
APP_CONFIG__db__future=True
APP_CONFIG__run__host=0.0.0.0
APP_CONFIG__run__port=8000
APP_CONFIG__run__reload=True
APP_CONFIG__access_token__reset_password_token_secret=SECRET_KEY_FOR_RESET_PASSWORD_CHANGE_IT
APP_CONFIG__access_token__verification_token_secret=SECRET_KEY_FOR_VERIFICATION_CHANGE_IT